/* #todayCard {
} */
#listOfToday {
  /* height: 80%;
  width: 100%; */
  flex-wrap: wrap;
  align-items: center;
}
#todayTodoList {
  height: 550px;
  width: 100%;
  border: solid 0px 0px 1px 0px;
  border-radius: 15px 15px 0px 0px;
  align-items: center;
  /* justify-content: center; */
}
.task {
  display: flex;
  width: 20em;
  min-height: 2.5em;
  height: auto;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  border: solid 1px;
  padding: 5px;
}
/* .todoList {
  width: 95%;
  height: 10%;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
} */
#todaysForm {
  height: 15%;
  width: 100%;
  border: solid 1px;
  /* border-radius: 0px 0px 15px 15px; */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}
#todaysForm > * {
  margin-top: 10px;
}
#todaysInput {
  width: 90%;
  border-radius: 15px;
  height: 20px;
  text-align: center;
}
.todoButton {
  border-radius: 10px;
  padding: 5px;
}
